#palette {
    border: 2px solid dimgrey;
    border-radius: 20px;
    height: 600px;
    padding: 10px;
}

.form-control:disabled, .form-control[readonly] {
    background: transparent;
}

textarea {
    background: url(../img/bg-lines.png) no-repeat local !important;
    padding-left: 35px !important;
    padding-top: 10px !important;
    border-color:#ccc !important;
}